<html>

<head>
    <!-- Add jquery script "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"-->
    
    <script>
        // Create newHtml variable
        
        // Run a function when the document gets ready
        
            // Create an ajax call and pass it an object containing url and success  
            // url will be url to be called i.e path of proxy route
            // success will be a function that takes one parameter i.e data
            // inside success function store data in html variable and call display_html() function
            


        // Define a function display_html()
        
            //  Append html in the body
            
    </script>
</head>

<body>


</body>

</html>
